name: Update F-Droid Repo
on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install F-Droid Server
        run: |
          sudo apt-get update
          sudo apt-get install -y fdroidserver

      - name: Generate F-Droid Index
        run: |
          mkdir -p metadata
          # Мы больше не делаем fdroid init, чтобы не затирать твой config.yml
          fdroid update --create-metadata --pretty || echo "Skipping broken APKs..."

      - name: Commit index back to repo
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add repo/index.xml repo/index-v1.jar repo/*.jar .nojekyll || true
          git commit -m "Update F-Droid index with custom config" || echo "No changes to commit"
          git push

      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.'

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
